.card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: center;
    /* box-shadow: 4px 5px 4px 2px rgba(0, 0, 0, 0.5); */
}

.avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.title {
    /* height: 25px; */
    border-bottom-style: solid;
    border-color: black;
    height: 40px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 5px;
    box-sizing: content-box;
}

.title b {
    color: rgb(0, 89, 255);
}

.user_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1px;
}

.all-tags {
    margin-left: 5px;
    padding: 2px;
}

.tag {
    border: 0.5px solid;
    background-color: rgb(214, 211, 211);
    display: inline-block;
    margin: 2px;
    padding: 2px;
}

.text {
    margin: 10px;
    font-size: 20px;
}

.card_like {
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	display: flex;
}

.card_like_active {
	fill: #c40303;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 5px;
}