.profile {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 600;
    align-items: flex-end;
    color: rgb(240, 245, 247)
}

.link-to {
    color: rgb(240, 245, 247);
}