.welcome {
    font-size: 24px;
    color: rgb(43, 23, 23);
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1024px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}