@import "~normalize.css";

:root {
  align-content: center;
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.container {
  max-width: 992px;
  width: 95%;
  margin: 0 auto;
  padding: 0 16px;
}

img {
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
